In [38]:
# https://pypi.org/project/yfinance/
import yfinance as yf

In [2]:
jpm = yf.Ticker('JPM')

In [3]:
# Get stock data
jpm.info

{'zip': '10179',
 'sector': 'Financial Services',
 'fullTimeEmployees': 265790,
 'longBusinessSummary': 'JPMorgan Chase & Co. operates as a financial services company worldwide. It operates in four segments: Consumer & Community Banking (CCB), Corporate & Investment Bank (CIB), Commercial Banking (CB), and Asset & Wealth Management (AWM). The CCB segment offers deposit and investment products and services to consumers; lending, deposit, and cash management and payment solutions to small businesses; mortgage origination and servicing activities; residential mortgages and home equity loans; and credit card, auto loan, and leasing services. The CIB segment provides investment banking products and services, including corporate strategy and structure advisory, and equity and debt markets capital-raising services, as well as loan origination and syndication; wholesale payments and cross-border financing; and cash securities and derivative instruments, risk management solutions, prime brokerage, and research. This segment also offers securities services, including custody, fund accounting and administration, and securities lending products for asset managers, insurance companies, and public and private investment funds. The CB segment provides financial solutions, including lending, investment banking, and asset management to small business, large and midsized corporations, local governments, and nonprofit clients; and commercial real estate banking services to investors, developers, and owners of multifamily, as well as to office, retail, industrial, and affordable housing properties. The AWM segment offers multi-asset investment management solutions across equities, fixed income, alternatives, and money market funds to institutional clients and retail investors; and retirement products and services, brokerage, custody, trusts and estates, loans, mortgages, deposits, and investment management products. The company also provides ATM, online and mobile, and telephone banking services. JPMorgan Chase & Co. was founded in 1799 and is headquartered in New York, New York.',
 'city': 'New York',
 'phone': '212-270-6000',
 'state': 'NY',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.jpmorganchase.com',
 'maxAge': 1,
 'address1': '383 Madison Avenue',
 'industry': 'Banks—Diversified',
 'ebitdaMargins': 0,
 'profitMargins': 0.38171002,
 'grossMargins': 0,
 'operatingCashflow': -35063001088,
 'revenueGrowth': 0.088,
 'operatingMargins': 0.47446,
 'ebitda': None,
 'targetLowPrice': 125,
 'recommendationKey': 'buy',
 'grossProfits': 102063000000,
 'freeCashflow': None,
 'targetMedianPrice': 175,
 'currentPrice': 167.875,
 'earningsGrowth': 0.281,
 'currentRatio': None,
 'returnOnAssets': 0.0143,
 'numberOfAnalystOpinions': 26,
 'targetMeanPrice': 175.63,
 'debtToEquity': None,
 'returnOnEquity': 0.17846,
 'targetHighPrice': 210,
 'totalCash': 1536630980608,
 'totalDebt': 684082003968,
 'totalRevenue': 131175997440,
 'totalCashPerShare': 519.964,
 'financialCurrency': 'USD',
 'revenuePerShare': 43.048,
 'quickRatio': None,
 'recommendationMean': 2.3,
 'exchange': 'NYQ',
 'shortName': 'JP Morgan Chase & Co.',
 'longName': 'JPMorgan Chase & Co.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'JPM',
 'messageBoardId': 'finmb_658776',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': None,
 'enterpriseToEbitda': None,
 '52WeekChange': 0.3327117,
 'morningStarRiskRating': None,
 'forwardEps': 11.92,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 2955269888,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'totalAssets': None,
 'bookValue': 86.355,
 'sharesShort': 18258603,
 'sharesPercentSharesOut': 0.0062,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.71861,
 'netIncomeToCommon': 48274001920,
 'trailingEps': 15.809,
 'lastDividendValue': 1,
 'SandP52WeekChange': 0.28814626,
 'priceToBook': 1.9440101,
 'heldPercentInsiders': 0.0092,
 'nextFiscalYearEnd': 1672444800,
 'yield': None,
 'mostRecentQuarter': 1632960000,
 'shortRatio': 1.66,
 'sharesShortPreviousMonthDate': 1632960000,
 'floatShares': 2928905088,
 'beta': 1.13922,
 'enterpriseValue': None,
 'priceHint': 2,
 'threeYearAverageReturn': None,
 'lastSplitDate': 960768000,
 'lastSplitFactor': '3:2',
 'legalType': None,
 'lastDividendDate': 1633392000,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.238,
 'priceToSalesTrailing12Months': 3.7820635,
 'dateShortInterest': 1635465600,
 'pegRatio': 1.02,
 'ytdReturn': None,
 'forwardPE': 14.083473,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0062,
 'sharesShortPriorMonth': 18755321,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'previousClose': 164.35,
 'regularMarketOpen': 165.5,
 'twoHundredDayAverage': 157.73276,
 'trailingAnnualDividendYield': 0.02251293,
 'payoutRatio': 0.234,
 'volume24Hr': None,
 'regularMarketDayHigh': 167.94,
 'navPrice': None,
 'averageDailyVolume10Day': 8986800,
 'regularMarketPreviousClose': 164.35,
 'fiftyDayAverage': 165.6672,
 'trailingAnnualDividendRate': 3.7,
 'open': 165.5,
 'toCurrency': None,
 'averageVolume10days': 8986800,
 'expireDate': None,
 'algorithm': None,
 'dividendRate': 4,
 'exDividendDate': 1633392000,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 165.37,
 'currency': 'USD',
 'trailingPE': 10.618951,
 'regularMarketVolume': 6921939,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 496115941376,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 10349859,
 'dayLow': 165.37,
 'ask': 167.69,
 'askSize': 900,
 'volume': 6921939,
 'fiftyTwoWeekHigh': 172.96,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 2.51,
 'fiftyTwoWeekLow': 117.77,
 'bid': 167.68,
 'tradeable': False,
 'dividendYield': 0.024300002,
 'bidSize': 800,
 'dayHigh': 167.94,
 'regularMarketPrice': 167.875,
 'preMarketPrice': 165.51,
 'logo_url': 'https://logo.clearbit.com/jpmorganchase.com'}

In [11]:
# Access Historical Market Data
hist = jpm.history(period='max')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1980-03-17,0.000000,1.179639,1.154088,1.158346,62775,0.0,0.0
1980-03-18,0.000000,1.175381,1.158347,1.166864,64125,0.0,0.0
1980-03-19,0.000000,1.188157,1.175381,1.183899,40500,0.0,0.0
1980-03-20,0.000000,1.183898,1.171123,1.175381,18900,0.0,0.0
1980-03-21,0.000000,1.200933,1.175381,1.200933,97200,0.0,0.0
...,...,...,...,...,...,...,...
2021-11-17,165.210007,165.559998,163.389999,164.470001,9909600,0.0,0.0
2021-11-18,164.389999,164.850006,162.559998,163.050003,8122500,0.0,0.0
2021-11-19,161.300003,162.110001,159.449997,160.919998,12171000,0.0,0.0
2021-11-22,164.160004,165.979996,162.990005,164.350006,14549900,0.0,0.0
2021-11-23,165.500000,167.940002,165.369995,167.850006,6956737,0.0,0.0

In [12]:
# Dividends and Splits
jpm.actions

            Dividends  Stock Splits
Date
1982-04-16   0.000000           1.5
1984-03-09   0.196667           0.0
1984-04-16   0.000000           1.5
1984-06-11   0.196667           0.0
1984-09-10   0.196667           0.0
...               ...           ...
2020-10-05   0.900000           0.0
2021-01-05   0.900000           0.0
2021-04-05   0.900000           0.0
2021-07-02   0.900000           0.0
2021-10-05   1.000000           0.0

[156 rows x 2 columns]

In [13]:
# Show dividends only
jpm.dividends

Date
1984-03-09    0.196667
1984-06-11    0.196667
1984-09-10    0.196667
1984-12-10    0.196667
1985-03-11    0.206667
                ...
2020-10-05    0.900000
2021-01-05    0.900000
2021-04-05    0.900000
2021-07-02    0.900000
2021-10-05    1.000000
Name: Dividends, Length: 152, dtype: float64

In [14]:
jpm.splits

Date
1982-04-16    1.5
1984-04-16    1.5
1998-06-15    2.0
2000-06-12    1.5
Name: Stock Splits, dtype: float64

In [15]:
jpm.financials

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,35407000000.0,44545000000.0,40764000000.0,35900000000.0
Minority Interest,None,None,None,None
Net Income,29131000000.0,36431000000.0,32474000000.0,24441000000.0
Selling General Administrative,60715000000.0,60182000000.0,57417000000.0,53436000000.0
Gross Profit,102063000000.0,109813000000.0,103744000000.0,94745000000.0
Ebit,0.0,0.0,0.0,0.0
Operating Income,36522000000.0,44784000000.0,40836000000.0,35220000000.0
Other Operating Expenses,4826000000.0,4847000000.0,5491000000.0,6089000000.0
Interest Expense,None,None,None,None
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,6276000000.0,8114000000.0,8290000000.0,11459000000.0
Total Revenue,102063000000.0,109813000000.0,103744000000.0,94745000000.0
Total Operating Expenses,65541000000.0,65029000000.0,62908000000.0,59525000000.0
Cost Of Revenue,0.0,0.0,0.0,0.0
Total Other Income Expense Net,-1115000000.0,-239000000.0,-72000000.0,680000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,29131000000.0,36431000000.0,32474000000.0,24441000000.0
Net Income Applicable To Common Shares,27410000000.0,34642000000.0,30709000000.0,22567000000.0

In [16]:
jpm.quarterly_financials

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Research Development,None,None,None,None
Effect Of Accounting Charges,None,None,None,None
Income Before Tax,14111000000.0,15097000000.0,17697000000.0,15065000000.0
Minority Interest,None,None,None,None
Net Income,11687000000.0,11948000000.0,14300000000.0,12136000000.0
Selling General Administrative,15904000000.0,16403000000.0,17189000000.0,14705000000.0
Gross Profit,31174000000.0,32764000000.0,36422000000.0,31113000000.0
Ebit,0.0,0.0,0.0,0.0
Operating Income,14187000000.0,15282000000.0,17725000000.0,15341000000.0
Other Operating Expenses,1083000000.0,1079000000.0,1508000000.0,1067000000.0
Interest Expense,None,None,None,None
Extraordinary Items,None,None,None,None
Non Recurring,None,None,None,None
Other Items,None,None,None,None
Income Tax Expense,2424000000.0,3149000000.0,3397000000.0,2929000000.0
Total Revenue,31174000000.0,32764000000.0,36422000000.0,31113000000.0
Total Operating Expenses,16987000000.0,17482000000.0,18697000000.0,15772000000.0
Cost Of Revenue,0.0,0.0,0.0,0.0
Total Other Income Expense Net,-76000000.0,-185000000.0,-28000000.0,-276000000.0
Discontinued Operations,None,None,None,None
Net Income From Continuing Ops,11687000000.0,11948000000.0,14300000000.0,12136000000.0
Net Income Applicable To Common Shares,11229000000.0,11496000000.0,13851000000.0,11698000000.0

In [17]:
# Major holders
jpm.major_holders

        0                                      1
0   0.92%        % of Shares Held by All Insider
1  71.86%       % of Shares Held by Institutions
2  72.53%        % of Float Held by Institutions
3    4026  Number of Institutions Holding Shares

In [19]:
# Institutional Holders
jpm.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",260594509,2021-09-29,0.0882,42656715178
1,Blackrock Inc.,192291314,2021-09-29,0.0651,31476165188
2,State Street Corporation,139443025,2021-09-29,0.0472,22825428762
3,Capital World Investors,74302154,2021-09-29,0.0251,12162519588
4,Bank of America Corporation,51898980,2021-09-29,0.0176,8495344036
5,"Wellington Management Group, LLP",51253306,2021-09-29,0.0173,8389653659
6,"Geode Capital Management, LLC",47118935,2021-09-29,0.0159,7712898470
7,"FMR, LLC",45142343,2021-09-29,0.0153,7389350125
8,Capital International Investors,38817564,2021-09-29,0.0131,6354047051
9,Morgan Stanley,38201840,2021-09-29,0.0129,6253259189

In [20]:
jpm.balance_sheet

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Intangible Assets,4.180000e+09,5.518000e+09,6.878000e+09,6.885000e+09
Capital Surplus,8.839400e+10,8.852200e+10,8.916200e+10,9.057900e+10
Total Liab,3.106717e+12,2.426049e+12,2.366017e+12,2.277907e+12
Total Stockholder Equity,2.492910e+11,2.343370e+11,2.304470e+11,2.296250e+11
Other Current Liab,9.955800e+10,7.556900e+10,1.030040e+11,8.588600e+10
Total Assets,3.386071e+12,2.687379e+12,2.622532e+12,2.533600e+12
Common Stock,4.105000e+09,4.105000e+09,4.105000e+09,4.105000e+09
Other Current Assets,2.356370e+11,2.322790e+11,2.074050e+11,1.951930e+11
Retained Earnings,2.369900e+11,2.232110e+11,1.992020e+11,1.776760e+11
Other Liab,2.421000e+09,NaN,NaN,NaN
Good Will,4.924800e+10,4.782300e+10,4.747100e+10,4.750700e+10
Treasury Stock,-8.019800e+10,-8.150100e+10,-6.202200e+10,-4.273500e+10
Other Assets,1.146272e+12,1.109292e+12,1.081167e+12,1.046063e+12
Cash,5.032090e+11,2.171420e+11,2.380770e+11,3.858230e+11
Total Current Liabilities,2.824737e+12,2.108205e+12,2.063745e+12,1.967746e+12
Short Long Term Debt,2.693400e+10,NaN,NaN,NaN
Other Stockholder Equity,7.986000e+09,1.548000e+09,-1.528000e+09,-1.400000e+08
Property Plant Equipment,4.826400e+10,4.940000e+10,3.636200e+10,1.415900e+10
Total Current Assets,1.538408e+12,1.068584e+12,1.181001e+12,1.161287e+12
Long Term Investments,5.996990e+11,4.067620e+11,2.696530e+11,2.576990e+11
Net Tangible Assets,1.991390e+11,1.856950e+11,1.822280e+11,1.812630e+11
Short Term Investments,2.962840e+11,2.492230e+11,3.215790e+11,1.981620e+11
Long Term Debt,2.726570e+11,3.093390e+11,3.022720e+11,3.101610e+11
Inventory,1.520000e+08,2.530000e+08,2.260000e+08,2.650000e+08
Accounts Payable,2.214536e+12,1.635858e+12,1.543482e+12,1.516530e+12

In [21]:
jpm.quarterly_balance_sheet

,2021-09-30,2021-06-30,2021-03-31,2020-12-31
Intangible Assets,6.253000e+09,5.399000e+09,5.345000e+09,4.180000e+09
Capital Surplus,8.835700e+10,8.819400e+10,8.800500e+10,8.839400e+10
Total Liab,3.467535e+12,3.397870e+12,3.408622e+12,3.106717e+12
Total Stockholder Equity,2.552030e+11,2.535480e+11,2.491510e+11,2.492910e+11
Other Current Liab,1.260580e+11,1.278220e+11,1.309090e+11,9.955800e+10
Total Assets,3.757576e+12,3.684256e+12,3.689336e+12,3.386071e+12
Common Stock,4.105000e+09,4.105000e+09,4.105000e+09,4.105000e+09
Other Current Assets,2.916130e+11,2.864810e+11,2.690330e+11,2.356370e+11
Retained Earnings,2.652760e+11,2.569830e+11,2.481510e+11,2.369900e+11
Other Liab,2.305000e+09,2.998000e+09,2.519000e+09,2.421000e+09
Good Will,5.031300e+10,4.925600e+10,4.924300e+10,4.924800e+10
Treasury Stock,-1.025350e+11,-9.573400e+10,-9.111000e+10,-8.019800e+10
Other Assets,1.231459e+12,1.254801e+12,1.214132e+12,1.146272e+12
Cash,7.385690e+11,6.864210e+11,6.899720e+11,5.032090e+11
Total Current Liabilities,3.145246e+12,3.072257e+12,3.102584e+12,2.824737e+12
Other Stockholder Equity,9.630000e+08,2.570000e+09,1.041000e+09,7.986000e+09
Property Plant Equipment,4.529600e+10,4.593100e+10,4.692600e+10,4.826400e+10
Total Current Assets,1.828366e+12,1.754600e+12,1.775673e+12,1.538408e+12
Long Term Investments,5.958890e+11,5.742690e+11,5.980170e+11,5.996990e+11
Net Tangible Assets,2.039880e+11,2.034420e+11,1.990330e+11,1.991390e+11
Short Term Investments,2.821610e+11,2.609870e+11,2.724810e+11,2.962840e+11
Long Term Debt,3.117220e+11,3.143290e+11,2.950980e+11,2.726570e+11
Inventory,1.220000e+08,1.230000e+08,1.350000e+08,1.520000e+08
Accounts Payable,2.645690e+12,2.537215e+12,2.501438e+12,2.214536e+12
Short Long Term Debt,NaN,NaN,NaN,2.693400e+10

In [22]:
jpm.cashflow
# jpm.quarterly_cashflow

,2020-12-31,2019-12-31,2018-12-31,2017-12-31
Investments,-1.807520e+11,-1.297720e+11,-1.804600e+10,4.322300e+10
Change To Liabilities,7.827000e+09,-3.520000e+08,1.463000e+10,-1.650800e+10
Total Cashflows From Investing Activities,-2.619120e+11,-5.205900e+10,-1.994200e+11,2.824900e+10
Net Borrowings,1.094400e+10,-3.145000e+10,3.895200e+10,-1.838400e+10
Total Cash From Financing Activities,5.966450e+11,3.298700e+10,3.415800e+10,1.464200e+10
Change To Operating Activities,1.403000e+10,-5.971700e+10,2.650000e+09,-3.092700e+10
Net Income,2.913100e+10,3.643100e+10,3.247400e+10,2.444100e+10
Change In Cash,2.639780e+11,-1.516200e+10,-1.525110e+11,4.015000e+10
Repurchase Of Stock,-6.517000e+09,-2.400100e+10,-1.998300e+10,-1.541000e+10
Effect Of Exchange Rate,9.155000e+09,-1.820000e+08,-2.863000e+09,8.086000e+09
Total Cash From Operating Activities,-7.991000e+10,4.092000e+09,1.561400e+10,-1.082700e+10
Depreciation,8.614000e+09,8.368000e+09,7.791000e+09,6.179000e+09
Other Cashflows From Investing Activities,-5.445600e+10,6.736100e+10,-1.281870e+11,3.088500e+10
Dividends Paid,-1.269000e+10,-1.234300e+10,-1.010900e+10,-8.993000e+09
Other Cashflows From Financing Activities,6.018380e+11,9.985600e+10,2.529800e+10,5.742900e+10
Change To Netincome,2.724900e+10,1.288900e+10,-1.015000e+09,1.618300e+10

In [23]:
# Earnings
jpm.earnings
jpm.quarterly_earnings

           Revenue     Earnings
Year
2017   94745000000  24441000000
2018  103744000000  32474000000
2019  109813000000  36431000000
2020  102063000000  29131000000

In [24]:
jpm.sustainability

                          Value
2021-9
palmOil                   False
controversialWeapons      False
gambling                  False
socialScore               16.35
nuclear                   False
furLeather                False
alcoholic                 False
gmo                       False
catholic                  False
socialPercentile           None
peerCount                   165
governanceScore           10.55
environmentPercentile      None
animalTesting             False
tobacco                   False
totalEsg                     28
highestControversy            3
esgPerformance         AVG_PERF
coal                      False
pesticides                False
adult                     False
percentile                52.24
peerGroup                 Banks
smallArms                 False
environmentScore           1.11
governancePercentile       None
militaryContract          False

In [25]:
# Analyst Recommendations
jpm.recommendations

                               Firm     To Grade From Grade Action
Date
2012-02-29 07:34:00       Citigroup          Buy              main
2012-03-01 07:29:00       Citigroup          Buy              main
2012-03-08 06:00:00  Morgan Stanley   Overweight              main
2012-03-19 06:12:00  Morgan Stanley   Overweight              main
2012-03-27 07:24:00    Bank oferica          Buy              main
...                             ...          ...        ...    ...
2021-07-29 13:04:59  Morgan Stanley  Underweight              main
2021-10-11 13:36:33       Jefferies          Buy              main
2021-10-14 11:29:52     RBC Capital   Outperform              main
2021-10-15 13:40:50        Barclays   Overweight              main
2021-10-25 11:21:52     Wells Fargo   Overweight              main

[224 rows x 4 columns]

In [26]:
jpm.calendar

                                Value
Earnings Date     2022-01-14 13:30:00
Earnings Average                 2.94
Earnings Low                     2.76
Earnings High                    3.32
Revenue Average           29543400000
Revenue Low               29024000000
Revenue High              30795000000

In [27]:
# International Securities Identification Number
jpm.isin

'US46625H1005'

In [28]:
# Options expirations
jpm.options

('2021-11-26',
 '2021-12-03',
 '2021-12-10',
 '2021-12-17',
 '2021-12-23',
 '2021-12-31',
 '2022-01-21',
 '2022-02-18',
 '2022-03-18',
 '2022-04-14',
 '2022-06-17',
 '2023-01-20',
 '2024-01-19')

In [29]:
jpm.news

[{'uuid': 'cda210d5-7010-3e72-92ab-c7d340a08bdd',
  'title': 'JPMorgan wins appeal against insurers over Bear Stearns settlement',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/jpmorgan-wins-appeal-against-insurers-164528820.html',
  'providerPublishTime': 1637685928,
  'type': 'STORY'},
 {'uuid': 'a00d91b8-d7a7-311f-a504-b7b66b8a36ae',
  'title': 'JPMorgan Chase makes move to 1900 N. Akard official',
  'publisher': 'American City Business Journals',
  'link': 'https://finance.yahoo.com/m/a00d91b8-d7a7-311f-a504-b7b66b8a36ae/jpmorgan-chase-makes-move-to.html',
  'providerPublishTime': 1637685166,
  'type': 'STORY'},
 {'uuid': '563a25ba-4d4f-39e9-a1cd-ac2ea01cda84',
  'title': 'JPMorgan Chase to Present at the Goldman Sachs U.S. Financial Services Conference',
  'publisher': 'Business Wire',
  'link': 'https://finance.yahoo.com/news/jpmorgan-chase-present-goldman-sachs-162800160.html',
  'providerPublishTime': 1637684880,
  'type': 'STORY'},
 {'uuid': 'b9e73415-e33d-3f46-b36f-604eb0100a33',
  'title': 'JPMorgan named most important bank to health of financial system',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/jp-morgan-becomes-worlds-most-124633378.html',
  'providerPublishTime': 1637671593,
  'type': 'STORY'},
 {'uuid': '84f88932-5cda-3f13-a75d-18af3d0737cf',
  'title': "JP Morgan becomes world's most systemic bank",
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/jp-morgan-becomes-worlds-most-123931440.html',
  'providerPublishTime': 1637671171,
  'type': 'STORY'},
 {'uuid': 'fe1bd6c2-2e3d-3c27-81de-7f8a4ef464d2',
  'title': "Elon Musk And Jamie Dimon Can't Seem To Play Nice",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/fe1bd6c2-2e3d-3c27-81de-7f8a4ef464d2/elon-musk-and-jamie-dimon.html',
  'providerPublishTime': 1637632835,
  'type': 'STORY'},
 {'uuid': '898cfe22-5133-3f79-a8cb-51f9ac0eae81',
  'title': 'JPMorgan Chase eyes middle-market growth in Carolinas with new hire',
  'publisher': 'American City Business Journals',
  'link': 'https://finance.yahoo.com/m/898cfe22-5133-3f79-a8cb-51f9ac0eae81/jpmorgan-chase-eyes.html',
  'providerPublishTime': 1637613694,
  'type': 'STORY'},
 {'uuid': '47089286-a19f-31f5-acef-42acda926ae3',
  'title': 'JPMorgan Chase taps new North Texas middle market banking lead',
  'publisher': 'American City Business Journals',
  'link': 'https://finance.yahoo.com/m/47089286-a19f-31f5-acef-42acda926ae3/jpmorgan-chase-taps-new-north.html',
  'providerPublishTime': 1637613143,
  'type': 'STORY'}]

In [40]:
import yfinance as yf
data = yf.download("JPM SPY AAPL", start="2021-11-15", end="2021-11-22")

[*********************100%***********************]  3 of 3 completed

In [42]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "JPM SPY AAPL MSFT",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "ytd",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "1d",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = True,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )

[*********************100%***********************]  4 of 4 completed

In [43]:
data.head()

                  MSFT                                                \
                  Open        High         Low       Close    Volume
Date
2021-01-04  220.680180  221.146274  213.024353  215.880417  37130100
2021-01-05  215.453990  216.703525  213.906960  216.088669  23823000
2021-01-06  210.406305  214.690401  210.178221  210.485641  35930700
2021-01-07  212.260747  217.516693  211.933503  216.475418  27694500
2021-01-08  216.862199  218.746414  215.225921  217.794388  22956200

                  AAPL                                                 \
                  Open        High         Low       Close     Volume
Date
2021-01-04  132.701930  132.791375  125.983346  128.617111  143301900
2021-01-05  128.100285  130.932829  127.643097  130.207291   97664900
2021-01-06  126.937466  130.247065  125.605672  125.824326  155088000
2021-01-07  127.573546  130.823515  127.076610  130.117859  109578200
2021-01-08  131.618582  131.817369  129.432065  131.240921  105158200

                   SPY                                                 \
                  Open        High         Low       Close     Volume
Date
2021-01-04  371.674173  371.812831  361.285804  365.217346  110210800
2021-01-05  364.534037  368.891406  364.484503  367.732727   66426200
2021-01-06  366.128447  373.328039  365.544167  369.931244  107997700
2021-01-07  372.456553  376.219728  372.268391  375.427490   68766800
2021-01-08  376.903067  377.794342  373.446885  377.566589   71677200

                   JPM
                  Open        High         Low       Close    Volume
Date
2021-01-04  124.376612  124.727793  121.723243  122.786545  16819900
2021-01-05  122.806194  124.093311  121.607508  123.454666  13731200
2021-01-06  127.610767  130.450273  125.645703  129.251587  24909100
2021-01-07  133.319261  135.775582  132.562710  133.496109  21940400
2021-01-08  133.594379  133.967745  131.776696  133.643509  12035100

In [44]:
data.to_csv('output_datafile.csv')